*{
    padding: 0;
    margin: 0;
}

body{
    background-color: rgb(241, 241, 241);
    margin: 1% 05%;
}
.home{
    width: 100%;
    height: 400px;
}

.header{
    margin-left: -99px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(241, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 76%;
    margin: auto;
}

.container-hero{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.header .navbar {
    margin-right: -135px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.navbar .nav-links {
    margin-left: -266px;
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar a{
    font-family: 'Gabarito', sans-serif;
    font-size: 18px;
    color: gray;
    font-weight: 500;
    text-decoration: none;
    margin-left: 130px;

}
.btn-main button{
    padding: 0;
    background-color: rgb(241, 241, 241);
    color: black;
    border-radius: 6px;
    font-size: 23px;
    line-height: 45px;
    width: 204px;
    gap: 30px;
    stroke: black;
}

.btn-main button a{
    color: black;
    display: block;
    margin: 0;
    width: 100%;
}

.navbar .nav-links .active{
    color: black;
}

button.welcome-btn{
background-color: black;
}

.btn-reserve {
    padding: 0;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-size: 23px;
    line-height: 45px;
    width: 204px;
    gap: 30px;
    stroke: black;
    margin-top: 83px;
}

.home-img{
    width: 50%;
    background-color: red;
}

.welcome-hero-txt h1{
    font-family: 'Gabarito', sans-serif;
    font-size: 80px;
}
.welcome-hero-txt p{
    margin-top: 43px;
    font-family: 'Gabarito', sans-serif;
}

.welcome-hero-txt{
    margin-right: 156px;
}
