*{
    padding: 0;
    margin: 0;
}
.home-page{
    margin: 1% 5%;
}

body{
    background-color: rgb(241, 241, 241);
}
.home{
    width: 100%;
    height: 400px;
}

.header{
    background: transparent;
    position: fixed;
    margin-left: -126px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(241, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container {
    width: 76%;
    margin: auto;
}

.container-hero{
    margin-top: 140px;
    display: flex;
    justify-content: center;
}

.header .navbar {
    margin-right: -135px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.navbar .nav-links {
    margin-left: -215px;
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar a{
    font-family: 'Gabarito', sans-serif;
    font-size: 18px;
    color: gray;
    font-weight: 500;
    text-decoration: none;
    margin-left: 130px;

}
.btn-main a{
    padding: 0;
    background-color: rgb(241, 241, 241);
    color: black;
    border-radius: 6px;
    font-size: 23px;
    line-height: 45px;
    width: 180px;
    gap: 30px;
}
.btn-main a:hover{
    color: aliceblue;
    background-color: black;
}

.btn-main div a{
    padding: 0px 25px;
    color: black;
    display: block;
    border: solid black 2px;
    margin: 0;
    width: 70%;
}

.navbar .nav-links .active{
    color: black;
}

button.welcome-btn{
background-color: black;
}

.btn-reserve {
    padding: 0;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-size: 23px;
    line-height: 45px;
    width: 204px;
    gap: 30px;
    stroke: black;
    margin-top: 83px;
}

.btn-reserve:hover{
    background-color: rgba(0, 0, 255, 0);
    color: black;
    border: solid  black 2px ;
    cursor: pointer;
}

.home-img{
    width: 50%;
}

.welcome-hero-txt h1{
    font-family: 'Gabarito', sans-serif;
    font-size: 80px;
}
.welcome-hero-txt p{
    margin-top: 43px;
    font-family: 'Gabarito', sans-serif;
}

.welcome-hero-txt{
    margin-right: 156px;
}

.footer-contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 250px;
    margin-top: 177px;
    background-color: rgb(225, 224, 224);
    position: relative;
}

.footer-txt{
    margin-left: -59px;
}

.footer-container{
    display: flex;
}

.quick-links{
    display: flex;
}
.quick-links-txt{
    padding-left: 185px;
    padding-top: 115px;
}

.footer-title{
    padding-top: 115px;
    padding-left: 116px;
}

.footer-title h1{
    font-size: 64px;
}
.quick-links{
    font-family: 'Gabarito', sans-serif;
    padding-top: 48px;
}
.quick-links div{
    padding-right: 70px;
}
.quick-links ul{
    list-style: none;
}
.quick-links li{
    padding-bottom: 20px;
}

.copyright{

    position: absolute;
    top: 75%;
    left: 40%;
}

.quick-links a{
    color: black;
    text-decoration: none;
}

.home-page .container-contact{
    margin-top: 100px;
    display: flex;
    justify-content: space-around;
}
.contact-img{
    width: 43%;
}
.form-control{
    padding-left: 10px;
    width: 100%;
    height: 30px;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px 0px;
}
.form-control-area{
    width: 100%;
    height: 250px;
    border: 2px solid;
    border-radius: 5px;
    margin: 10px 0px;
    resize: none;
    padding-left: 10px;
    padding-top: 10px;
}

.button-submit{
    font-size: 18px;
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    padding: 10px 0px;
    border-radius: 5px;
}
.button-submit:hover{
    background-color: white;
    color: black;
    border: solid  black 2px;
    cursor: pointer;
}

.welcome-contact{
    padding-right: 97px;
    width: 35%;
}
.titleStyle{
    font-family: 'Gabarito', sans-serif;
    font-size: 80px;
}

.activeContact div a{
    padding: 0px 25px;
    display: block;
    border: solid black 2px;
    margin: 0;
    width: 70%;
}

.activeContact a{
    padding: 0;
    color: white;
    background-color: black;
    border-radius: 6px;
    font-size: 23px;
    line-height: 45px;
    width: 180px;
    gap: 30px;
}

.activeContact a:hover{
    background-color: rgb(241, 241, 241);
    color: black;
}

.form-control{
    color: black;
}
.welcome-about h1{
    border: black;
    font-family: 'Gabarito', sans-serif;
}

/*================ page about========== */
.container-about{
    margin-top: 120px;
}

.about-img{
    border-radius: 8px;
    width: 50%;
    border: 2px solid;
}

.welcome-about h1{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 48px;
    font-size: 40px;
}

.cadres{
    padding-top: 29px;
    display: flex;
    
}
.cadres h2{
    font-family: 'Gabarito', sans-serif;
}
.cadres p{
    font-family: 'Gabarito', sans-serif;
    width: 76%;
    text-align: center;
    margin-bottom: 21px;
    margin-top: 13px;
}
.image{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.about-etoile{
    width: 110px;
}
.about-etoile4{
    width: 90px;
}
.about-etoile45{
    width: 90px;
}
/* ================= end about ================== */

/* ================= start flights ============== */
.welcome-flights h1{
    text-align: center;
    margin-top: 100px;
    margin-bottom: 48px;
    font-size: 40px;
    font-family: 'Gabarito', sans-serif;
}

.flights-img{
    width: 300px;
    border-radius: 4px;
}

.img-tanger{
    display: flex;
    margin-bottom: 50px;
    border: 2px solid;
    border-radius: 4px;

}
.img-london{
    display: flex;
    margin-bottom: 50px;
    border: 2px solid;
    border-radius: 4px;
}
.img-newyork{
    display: flex;
    margin-bottom: 50px;
    border: 2px solid;
    border-radius: 4px;
}
.img-barcelone{
    display: flex;
    margin-bottom: 50px;
    border: 2px solid;
    border-radius: 4px;
}
.flights-space{
    justify-content: space-between;
}
.all-flights h2{
    font-family: 'Gabarito', sans-serif;
    margin-left: 400px;
    margin-top: 50px;
    
}
.all-flights p{
    font-family: 'Gabarito', sans-serif;
    text-align: center;
    width: 60%;
    margin-left: 176px;
    margin-top: 27px;
}
.flights-icon{
    width: 5%;
}
.price{
    display: flex; 
    margin-left: 350px;
    margin-top: 120px;
}
.price h3{
    font-family: 'Gabarito', sans-serif;
    margin-left: 30px;
}

.price p1{
    font-family: 'Gabarito', sans-serif;
    margin-left: 40px;
}
/* =========== end flights ================ */

/* =========== start guides =============== */

.imageguides{
    width: 100%;
}


.container-guides .titreguides{
    position: absolute;
    color: white;
    top: 42%;
    left: 50%;
    transform: translate(-50%);
    font-size: 70px;
}

.container-guides .titreguides .sous-titre{
    -webkit-text-stroke: 2px black;
    font-size: 70px;}

.container-guides .titreguides p{
    font-size: 25px;
    text-align: center;
    color: black;
    font-family: 'Gabarito', sans-serif;
}

.guides-header{
    background: transparent;
}
.guides-header .btn-main a{
    background: transparent;
}

.guides-page{
    margin-left: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-top: 0px;
}

/* ============ end guides =================== */
