*{
    padding: 0;
    margin: 0;
}
.home-page{
    margin: 1% 5%;
}

body{
    background-color: rgb(241, 241, 241);
}
.home{
    width: 100%;
    height: 400px;
}

.header{
    margin-left: -126px;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    background: rgb(241, 241, 241);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.container {
    width: 76%;
    margin: auto;
}

.container-hero{
    margin-top: 50px;
    display: flex;
    justify-content: center;
}

.header .navbar {
    margin-right: -135px;
    display: flex;
    align-items: center;
    justify-content: space-between
}
.navbar .nav-links {
    margin-left: -215px;
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar a{
    font-family: 'Gabarito', sans-serif;
    font-size: 18px;
    color: gray;
    font-weight: 500;
    text-decoration: none;
    margin-left: 130px;

}
.btn-main a{
    padding: 0;
    background-color: rgb(241, 241, 241);
    color: black;
    border-radius: 6px;
    font-size: 23px;
    line-height: 45px;
    width: 180px;
    gap: 30px;
}
.btn-main a:hover{
    color: aliceblue;
    background-color: black; 
}

.btn-main div a{
    padding: 0px 25px;
    color: black;
    display: block;
    border: solid black 2px;
    margin: 0;
    width: 70%;
}

.navbar .nav-links .active{
    color: black;
}

button.welcome-btn{
background-color: black;
}

.btn-reserve {
    padding: 0;
    background-color: black;
    color: white;
    border-radius: 6px;
    font-size: 23px;
    line-height: 45px;
    width: 204px;
    gap: 30px;
    stroke: black;
    margin-top: 83px;
}

.btn-reserve:hover{
    background-color: rgba(0, 0, 255, 0);
    color: black;
    border: solid  black 2px ;
    cursor: pointer;
}

.home-img{
    width: 50%;
}

.welcome-hero-txt h1{
    font-family: 'Gabarito', sans-serif;
    font-size: 80px;
}
.welcome-hero-txt p{
    margin-top: 43px;
    font-family: 'Gabarito', sans-serif;
}

.welcome-hero-txt{
    margin-right: 156px;
}

.footer-contact{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-bottom: 250px;
    margin-top: 177px;
    background-color: rgb(225, 224, 224);
    position: relative;
}

.footer-txt{
    margin-left: -59px;
}

.footer-container{
    display: flex;
}

.quick-links{
    display: flex;
}
.quick-links-txt{
    padding-left: 185px;
    padding-top: 115px;
}

.footer-title{
    padding-top: 115px;
    padding-left: 116px;
}

.footer-title h1{
    font-size: 64px;
}
.quick-links{
    font-family: 'Gabarito', sans-serif;
    padding-top: 48px;
}
.quick-links div{
    padding-right: 70px;
}
.quick-links ul{
    list-style: none;
}
.quick-links li{
    padding-bottom: 20px;
}

.copyright{

    position: absolute;
    top: 75%;
    left: 40%;
}

.quick-links a{
    color: black;
    text-decoration: none;
}